@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan-webfont.eot') format('eot'),
        url('../fonts/BYekan-webfont.woff') format('woff'),
        url('../fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'BYekan' !important;
    background: url('../img/473177748_orig.jpg') no-repeat center center fixed;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    direction: rtl;
}

.container {
    margin-top: 100px;
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all 0.2s;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 20px;
    
}
.list-group-item:hover {
    background-color: rgba(247, 173, 173, 0.781) !important;
}
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.todo-indicator {
    position: absolute;
    width: 10px;
    height: 80%;
    border-radius: 0.3rem;
    right: 0rem;
    top: 10%;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.bg-warning {
    background-color: #f7b924 !important;
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}

.widget-content .widget-content-right {
    margin-left: auto;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border: 1px solid none;
    border-radius: 1em;
}

.wrapper:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
}
